   .custom-tableA{border-collapse:collapse;width:100%;border:solid 1px black;font-family:open sans;
    font-size:15px;
margin-top:50px;
background: rgb(206, 202, 202);  }
.custom-tableA th,.custom-table td{text-align:left;padding:8px;border:solid 1px black}
.custom-tableA th{color:#000080}
.custom-tableA tr:nth-child(odd){background-color:#f7f7ff}
.custom-tableA>thead>tr{background-color:#dde8f7!important}
.tbtn{border:0;outline:0;background-color:transparent;font-size:13px;cursor:pointer}
.toggler{display:none}
.toggler1{display:table-row;}
.custom-tableA a{color: #0033cc;}
.custom-tableA a:hover{color: #f00;}
.page-header{background-color: #eee;}